{% extends 'base.html' %}
{% load staticfiles %}

{% block custom_css %}
<link href="{% static 'home/group.css' %}" rel="stylesheet">
{% endblock custom_css %}

{% block content %}
<div class="container-fluid" ng-app="myApp" ng-controller="mainCtl">
    <div class="row">
        <div class="col-md-4" style="padding-right: 30px;">
            <h3>成员列表</h3>

            <table class="table table-bordered table-hover table-striped">
                <thead>
                <tr>
                    <th>姓名</th>
                    <th>出席</th>
                    <th>小队</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="member in members">
                    <td>{$ member.nick_name $}</td>
                    <td>
                        <input type="checkbox" checklist-model="attend_members" checklist-value="member.nick_name">
                    </td>
                    <td>
                        <select ng-show="attend_members.indexOf(member.nick_name) != -1" ng-model="member_team_mapping[member.nick_name]">
                            <option value="" selected>待分队</option>
                            <option ng-repeat="team in team_list" value="{$ team $}">{$ team $}</option>
                        </select>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>

        <div class="col-md-8">
            <div class="row">
                <h3>分队结果</h3>
            </div>



            <div class="row well">
                <div class="col-md-12">
                    出席人员: {$ attend_members.length $}人<br>
                    <ul id="member-tag-list">
                        <li ng-repeat="member in attend_members">
                            <span>{$ member $}</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div>
                {$ member_team_mapping $}
            </div>


            <div class="row">
                <div class="col-md-1">
                    <button class="btn btn-info" ng-click="add_team()"><i class="fa fa-plus"></i> 小队</button>
                </div>

                <div class="col-md-1">
                    <button class="btn btn-success" ng-click="group_team()"><i class="fa fa-arrow-right"></i> 分组</button>
                </div>
            </div>

            <div class="row" ng-repeat="team in team_list">
                <h4>{$ team $} -- {$ team_size[team] $}人</h4>
                <div class="col-md-12">
                    <div class="col-md-3" ng-repeat="name in teams[team]">
                        {$ name $}
                    </div>
                </div>
            </div>

            <hr>

            <div class="row" ng-repeat="(team, data) in final_result">
                <h4>{$ team $} -- {$ data.members.length $}人 -- {$ data.pos $}</h4>
                <div class="col-md-12">
                    <div class="col-md-3" ng-repeat="member in data.members">
                        {$ member.nick_name $} - {$ member.pos1 $} - {$ member.top_star $}
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock content %}


{% block custom_js %}
<script src="{% static 'home/group.js' %}"></script>
{% endblock custom_js %}